@charset "UTF-8";

*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #186783;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: white;
    width: 250px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.591);

    top: 50%;
    left: 50%;
    position: absolute;
    overflow: hidden;

    transition: width .3s , height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
form > div.campo{
    background-color: #186783;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 8px;
    margin: 5px 0px;

    
}

div.campo > label{
    display: none;
}

div.campo > input{
    background-color:#c1eaff;
    font-size: 1em;
    width: calc(100% -44px);
    height: 90%;
    border-radius: 8px;
    border:0px;
    padding: 1.5px;
    transform: translateY(-11px);
    

    
 
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
   
}



section#login > div#imagem {
    display: block;
    background: #186783 url(../imagens/pexels-mantas-sinkeviÄius-1106476\ \(1\).jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center bottom;
    
}
section#login > div#formulario{
    padding: 10px;
    display: block;
}

section#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > h1{
    margin-bottom: 10px;
    text-align: center;
}

div#formulario > p{
    font-size: 0.8em;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49829b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #186783;
}
form > a.botao{
    text-align: center;
    display: block;
    font-size: 1em;
    height: 40px;
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
    color: #186783;
    background-color: white;
    border: 1px solid #1867;
    border-radius: 5px;
    text-decoration: none;

}
form > a.botao:hover{
    background-color:#80c3e4 ;
}

form > a.botao > span{
    font-size: 0.8em;
}